@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.animated {
  animation: slideRight 1s ease forwards;
}

@keyframes slideRight {
  from {
      transform: translateX(-100%);
      /* Start position */
      opacity: 0;
      /* Start opacity */
  }

  to {
      transform: translateX(0px);
      /* End position */
      opacity: 1;
      /* End opacity */
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}